package datum{{ .Name | ToLower }}

import (
	"encoding/json"

	"github.com/spf13/cobra"

	datum "github.com/datumforge/datum/cmd/cli/cmd"
	"github.com/datumforge/datum/pkg/datumclient"
	"github.com/datumforge/datum/pkg/utils/cli/tables"
)

// cmd represents the base {{ .Name | ToLowerCamel }} command when called without any subcommands
var cmd = &cobra.Command{
	Use:   "{{ .Name | ToKebabCase }}",
	Short: "the subcommands for working with datum {{ .Name | ToLowerCamel | ToPlural }}",
}

func init() {
	datum.RootCmd.AddCommand(cmd)
}

// consoleOutput prints the output in the console
func consoleOutput(e any) error {
	// check if the output format is JSON and print the {{ .Name | ToLowerCamel | ToPlural }} in JSON format
	if datum.OutputFormat == datum.JSONOutput {
		return jsonOutput(e)
	}

	// check the type of the {{ .Name | ToLowerCamel | ToPlural }} and print them in a table format
	switch v := e.(type) {
	case *datumclient.GetAll{{ .Name | ToUpperCamel | ToPlural }}:
		var nodes []*datumclient.GetAll{{ .Name | ToUpperCamel | ToPlural }}_{{ .Name | ToUpperCamel | ToPlural }}_Edges_Node

		for _, i := range v.{{ .Name | ToUpperCamel | ToPlural }}.Edges {
			nodes = append(nodes, i.Node)
		}

		e = nodes
	case *datumclient.Get{{ .Name | ToUpperCamel | ToPlural }}:
		var nodes []*datumclient.Get{{ .Name | ToUpperCamel | ToPlural }}_{{ .Name | ToUpperCamel | ToPlural }}_Edges_Node

		for _, i := range v.{{ .Name | ToUpperCamel | ToPlural }}.Edges {
			nodes = append(nodes, i.Node)
		}

		e = nodes
	{{- if not .ListOnly }}
	case *datumclient.Get{{ .Name | ToUpperCamel }}ByID:
		e = v.{{ .Name | ToUpperCamel }}
	case *datumclient.Create{{ .Name | ToUpperCamel }}:
		e = v.Create{{ .Name | ToUpperCamel }}.{{ .Name | ToUpperCamel }}
	case *datumclient.Update{{ .Name | ToUpperCamel }}:
		e = v.Update{{ .Name | ToUpperCamel }}.{{ .Name | ToUpperCamel }}
	case *datumclient.Delete{{ .Name | ToUpperCamel }}:
		deletedTableOutput(v)
		return nil
	{{- end }}
	}

	s, err := json.Marshal(e)
	cobra.CheckErr(err)

	var list []datumclient.{{ .Name | ToUpperCamel }}

	err = json.Unmarshal(s, &list)
	if err != nil {
		var in datumclient.{{ .Name | ToUpperCamel }}
		err = json.Unmarshal(s, &in)
		cobra.CheckErr(err)

		list = append(list, in)
	}

	tableOutput(list)

	return nil
}

// jsonOutput prints the output in a JSON format
func jsonOutput(out any) error {
	s, err := json.Marshal(out)
	cobra.CheckErr(err)

	return datum.JSONPrint(s)
}

// tableOutput prints the output in a table format
func tableOutput(out []datumclient.{{ .Name | ToUpperCamel }}) {
	// create a table writer
	{{- if .HistoryCmd }}
	writer := tables.NewTableWriter(cmd.OutOrStdout(), "ID", "Ref", "Operation", "UpdatedAt", "UpdatedBy")
	{{- else }}
	// TODO: add additional columns to the table writer
	writer := tables.NewTableWriter(cmd.OutOrStdout(), "ID")
	{{- end }}
	for _, i := range out {
		{{- if .HistoryCmd }}
		writer.AddRow(i.ID, *i.Ref, i.Operation, *i.UpdatedAt, *i.UpdatedBy)
		{{- else }}
		writer.AddRow(i.ID)
		{{- end }}
	}

	writer.Render()
}

{{- if not .ListOnly }}
// deleteTableOutput prints the deleted id in a table format
func deletedTableOutput(e *datumclient.Delete{{ .Name | ToUpperCamel }}) {
	writer := tables.NewTableWriter(cmd.OutOrStdout(), "DeletedID")

	writer.AddRow(e.Delete{{ .Name | ToUpperCamel }}.DeletedID)

	writer.Render()
}
{{- end }}
