{
  "openapi": "3.1.0",
  "info": {
    "title": "Datum OpenAPI 3.1.0 Specifications",
    "description": "Programmatic interfaces for interacting with Datum Services",
    "termsOfService": "https://datum.net/tos",
    "contact": {
      "name": "Datum Support",
      "url": "https://datum.net/support",
      "email": "support@datum.net"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://api.datum.net/v1",
      "description": "Datum Production API Endpoint"
    },
    {
      "url": "http://localhost:17608/v1",
      "description": "http localhost endpoint for testing purposes"
    }
  ],
  "paths": {
    "/api-tokens": {
      "get": {
        "tags": [
          "APIToken"
        ],
        "summary": "List APITokens",
        "description": "List APITokens.",
        "operationId": "listAPIToken",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result APIToken list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/APIToken"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "APIToken"
        ],
        "summary": "Create a new APIToken",
        "description": "Creates a new APIToken and persists it to storage.",
        "operationId": "createAPIToken",
        "requestBody": {
          "description": "APIToken to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "description": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "last_used_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "owner": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "owner"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "APIToken created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIToken"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/api-tokens/{id}": {
      "get": {
        "tags": [
          "APIToken"
        ],
        "summary": "Find a APIToken by ID",
        "description": "Finds the APIToken with the requested ID and returns it.",
        "operationId": "readAPIToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the APIToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "APIToken with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIToken"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "APIToken"
        ],
        "summary": "Deletes a APIToken by ID",
        "description": "Deletes the APIToken with the requested ID.",
        "operationId": "deleteAPIToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the APIToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "APIToken with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "APIToken"
        ],
        "summary": "Updates a APIToken",
        "description": "Updates a APIToken and persists changes to storage.",
        "operationId": "updateAPIToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the APIToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "APIToken properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "description": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "last_used_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "owner": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "APIToken updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIToken"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/api-tokens/{id}/owner": {
      "get": {
        "tags": [
          "APIToken"
        ],
        "summary": "Find the attached Organization",
        "description": "Find the attached Organization of the APIToken with the given ID",
        "operationId": "readAPITokenOwner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the APIToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization attached to APIToken with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/document-data": {
      "get": {
        "tags": [
          "DocumentData"
        ],
        "summary": "List DocumentData",
        "description": "List DocumentData.",
        "operationId": "listDocumentData",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result DocumentData list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentData"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "DocumentData"
        ],
        "summary": "Create a new DocumentData",
        "description": "Creates a new DocumentData and persists it to storage.",
        "operationId": "createDocumentData",
        "requestBody": {
          "description": "DocumentData to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "template": {
                    "type": "string"
                  }
                },
                "required": [
                  "template_id",
                  "data",
                  "template"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DocumentData created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/document-data-histories": {
      "get": {
        "tags": [
          "DocumentDataHistory"
        ],
        "summary": "List DocumentDataHistories",
        "description": "List DocumentDataHistories.",
        "operationId": "listDocumentDataHistory",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result DocumentDataHistory list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentDataHistory"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "DocumentDataHistory"
        ],
        "summary": "Create a new DocumentDataHistory",
        "description": "Creates a new DocumentDataHistory and persists it to storage.",
        "operationId": "createDocumentDataHistory",
        "requestBody": {
          "description": "DocumentDataHistory to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "history_time": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ref": {
                    "type": "string"
                  },
                  "operation": {
                    "type": "string",
                    "enum": [
                      "INSERT",
                      "UPDATE",
                      "DELETE"
                    ]
                  },
                  "template_id": {
                    "type": "string"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "history_time",
                  "operation",
                  "template_id",
                  "data"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DocumentDataHistory created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDataHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/document-data-histories/{id}": {
      "get": {
        "tags": [
          "DocumentDataHistory"
        ],
        "summary": "Find a DocumentDataHistory by ID",
        "description": "Finds the DocumentDataHistory with the requested ID and returns it.",
        "operationId": "readDocumentDataHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the DocumentDataHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DocumentDataHistory with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDataHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "DocumentDataHistory"
        ],
        "summary": "Deletes a DocumentDataHistory by ID",
        "description": "Deletes the DocumentDataHistory with the requested ID.",
        "operationId": "deleteDocumentDataHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the DocumentDataHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "DocumentDataHistory with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "DocumentDataHistory"
        ],
        "summary": "Updates a DocumentDataHistory",
        "description": "Updates a DocumentDataHistory and persists changes to storage.",
        "operationId": "updateDocumentDataHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the DocumentDataHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "DocumentDataHistory properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DocumentDataHistory updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDataHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/document-data/{id}": {
      "get": {
        "tags": [
          "DocumentData"
        ],
        "summary": "Find a DocumentData by ID",
        "description": "Finds the DocumentData with the requested ID and returns it.",
        "operationId": "readDocumentData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the DocumentData",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DocumentData with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "DocumentData"
        ],
        "summary": "Deletes a DocumentData by ID",
        "description": "Deletes the DocumentData with the requested ID.",
        "operationId": "deleteDocumentData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the DocumentData",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "DocumentData with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "DocumentData"
        ],
        "summary": "Updates a DocumentData",
        "description": "Updates a DocumentData and persists changes to storage.",
        "operationId": "updateDocumentData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the DocumentData",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "DocumentData properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "template": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DocumentData updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/document-data/{id}/template": {
      "get": {
        "tags": [
          "DocumentData"
        ],
        "summary": "Find the attached Template",
        "description": "Find the attached Template of the DocumentData with the given ID",
        "operationId": "readDocumentDataTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the DocumentData",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template attached to DocumentData with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/entitlement-histories": {
      "get": {
        "tags": [
          "EntitlementHistory"
        ],
        "summary": "List EntitlementHistories",
        "description": "List EntitlementHistories.",
        "operationId": "listEntitlementHistory",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result EntitlementHistory list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitlementHistory"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "EntitlementHistory"
        ],
        "summary": "Create a new EntitlementHistory",
        "description": "Creates a new EntitlementHistory and persists it to storage.",
        "operationId": "createEntitlementHistory",
        "requestBody": {
          "description": "EntitlementHistory to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "history_time": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ref": {
                    "type": "string"
                  },
                  "operation": {
                    "type": "string",
                    "enum": [
                      "INSERT",
                      "UPDATE",
                      "DELETE"
                    ]
                  },
                  "tier": {
                    "type": "string",
                    "enum": [
                      "FREE",
                      "PRO",
                      "ENTERPRISE"
                    ],
                    "default": "FREE"
                  },
                  "external_customer_id": {
                    "type": "string"
                  },
                  "external_subscription_id": {
                    "type": "string"
                  },
                  "expires": {
                    "type": "boolean"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "cancelled": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "history_time",
                  "operation",
                  "tier",
                  "expires",
                  "cancelled"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "EntitlementHistory created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/entitlement-histories/{id}": {
      "get": {
        "tags": [
          "EntitlementHistory"
        ],
        "summary": "Find a EntitlementHistory by ID",
        "description": "Finds the EntitlementHistory with the requested ID and returns it.",
        "operationId": "readEntitlementHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the EntitlementHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "EntitlementHistory with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "EntitlementHistory"
        ],
        "summary": "Deletes a EntitlementHistory by ID",
        "description": "Deletes the EntitlementHistory with the requested ID.",
        "operationId": "deleteEntitlementHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the EntitlementHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "EntitlementHistory with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "EntitlementHistory"
        ],
        "summary": "Updates a EntitlementHistory",
        "description": "Updates a EntitlementHistory and persists changes to storage.",
        "operationId": "updateEntitlementHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the EntitlementHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "EntitlementHistory properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": [
                      "FREE",
                      "PRO",
                      "ENTERPRISE"
                    ],
                    "default": "FREE"
                  },
                  "external_customer_id": {
                    "type": "string"
                  },
                  "external_subscription_id": {
                    "type": "string"
                  },
                  "expires": {
                    "type": "boolean"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "cancelled": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "EntitlementHistory updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/entitlements": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "List Entitlements",
        "description": "List Entitlements.",
        "operationId": "listEntitlement",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Entitlement list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Entitlement"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Create a new Entitlement",
        "description": "Creates a new Entitlement and persists it to storage.",
        "operationId": "createEntitlement",
        "requestBody": {
          "description": "Entitlement to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": [
                      "FREE",
                      "PRO",
                      "ENTERPRISE"
                    ],
                    "default": "FREE"
                  },
                  "external_customer_id": {
                    "type": "string"
                  },
                  "external_subscription_id": {
                    "type": "string"
                  },
                  "expires": {
                    "type": "boolean"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "cancelled": {
                    "type": "boolean"
                  },
                  "owner": {
                    "type": "string"
                  },
                  "features": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "tier",
                  "expires",
                  "cancelled",
                  "owner"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entitlement created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entitlement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/entitlements/{id}": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Find a Entitlement by ID",
        "description": "Finds the Entitlement with the requested ID and returns it.",
        "operationId": "readEntitlement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Entitlement",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entitlement with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entitlement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Deletes a Entitlement by ID",
        "description": "Deletes the Entitlement with the requested ID.",
        "operationId": "deleteEntitlement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Entitlement",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Entitlement with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Updates a Entitlement",
        "description": "Updates a Entitlement and persists changes to storage.",
        "operationId": "updateEntitlement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Entitlement",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Entitlement properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": [
                      "FREE",
                      "PRO",
                      "ENTERPRISE"
                    ],
                    "default": "FREE"
                  },
                  "external_customer_id": {
                    "type": "string"
                  },
                  "external_subscription_id": {
                    "type": "string"
                  },
                  "expires": {
                    "type": "boolean"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "cancelled": {
                    "type": "boolean"
                  },
                  "owner": {
                    "type": "string"
                  },
                  "features": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entitlement updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entitlement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/entitlements/{id}/events": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "List attached Events",
        "description": "List attached Events.",
        "operationId": "listEntitlementEvents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Entitlement",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Entitlements list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/entitlements/{id}/features": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "List attached Features",
        "description": "List attached Features.",
        "operationId": "listEntitlementFeatures",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Entitlement",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Entitlements list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feature"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/entitlements/{id}/owner": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Find the attached Organization",
        "description": "Find the attached Organization of the Entitlement with the given ID",
        "operationId": "readEntitlementOwner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Entitlement",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization attached to Entitlement with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/event-histories": {
      "get": {
        "tags": [
          "EventHistory"
        ],
        "summary": "List EventHistories",
        "description": "List EventHistories.",
        "operationId": "listEventHistory",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result EventHistory list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventHistory"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "EventHistory"
        ],
        "summary": "Create a new EventHistory",
        "description": "Creates a new EventHistory and persists it to storage.",
        "operationId": "createEventHistory",
        "requestBody": {
          "description": "EventHistory to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "history_time": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ref": {
                    "type": "string"
                  },
                  "operation": {
                    "type": "string",
                    "enum": [
                      "INSERT",
                      "UPDATE",
                      "DELETE"
                    ]
                  },
                  "event_id": {
                    "type": "string"
                  },
                  "correlation_id": {
                    "type": "string"
                  },
                  "event_type": {
                    "type": "string"
                  }
                },
                "required": [
                  "history_time",
                  "operation",
                  "event_type"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "EventHistory created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/event-histories/{id}": {
      "get": {
        "tags": [
          "EventHistory"
        ],
        "summary": "Find a EventHistory by ID",
        "description": "Finds the EventHistory with the requested ID and returns it.",
        "operationId": "readEventHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the EventHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "EventHistory with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "EventHistory"
        ],
        "summary": "Deletes a EventHistory by ID",
        "description": "Deletes the EventHistory with the requested ID.",
        "operationId": "deleteEventHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the EventHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "EventHistory with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "EventHistory"
        ],
        "summary": "Updates a EventHistory",
        "description": "Updates a EventHistory and persists changes to storage.",
        "operationId": "updateEventHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the EventHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "EventHistory properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_id": {
                    "type": "string"
                  },
                  "correlation_id": {
                    "type": "string"
                  },
                  "event_type": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "EventHistory updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List Events",
        "description": "List Events.",
        "operationId": "listEvent",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Event list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "Create a new Event",
        "description": "Creates a new Event and persists it to storage.",
        "operationId": "createEvent",
        "requestBody": {
          "description": "Event to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_id": {
                    "type": "string"
                  },
                  "correlation_id": {
                    "type": "string"
                  },
                  "event_type": {
                    "type": "string"
                  },
                  "user": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "group": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "integration": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "organization": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "invite": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "feature": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "personal_access_token": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "oauth2token": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "hush": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "orgmembership": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "groupmembership": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "entitlement": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "webhook": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "subscriber": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "event_type"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Event created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Find a Event by ID",
        "description": "Finds the Event with the requested ID and returns it.",
        "operationId": "readEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "Event"
        ],
        "summary": "Deletes a Event by ID",
        "description": "Deletes the Event with the requested ID.",
        "operationId": "deleteEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Event with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Event"
        ],
        "summary": "Updates a Event",
        "description": "Updates a Event and persists changes to storage.",
        "operationId": "updateEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Event properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_id": {
                    "type": "string"
                  },
                  "correlation_id": {
                    "type": "string"
                  },
                  "event_type": {
                    "type": "string"
                  },
                  "user": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "group": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "integration": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "organization": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "invite": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "feature": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "personal_access_token": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "oauth2token": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "hush": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "orgmembership": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "groupmembership": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "entitlement": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "webhook": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "subscriber": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Event updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/entitlement": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Entitlements",
        "description": "List attached Entitlements.",
        "operationId": "listEventEntitlement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Entitlement"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/feature": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Features",
        "description": "List attached Features.",
        "operationId": "listEventFeature",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feature"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/group": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Groups",
        "description": "List attached Groups.",
        "operationId": "listEventGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/groupmembership": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Groupmemberships",
        "description": "List attached Groupmemberships.",
        "operationId": "listEventGroupmembership",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupMembership"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/hush": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Hushes",
        "description": "List attached Hushes.",
        "operationId": "listEventHush",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hush"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/integration": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Integrations",
        "description": "List attached Integrations.",
        "operationId": "listEventIntegration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/invite": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Invites",
        "description": "List attached Invites.",
        "operationId": "listEventInvite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invite"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/oauth2token": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Oauth2tokens",
        "description": "List attached Oauth2tokens.",
        "operationId": "listEventOauth2token",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OhAuthTooToken"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/organization": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Organizations",
        "description": "List attached Organizations.",
        "operationId": "listEventOrganization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organization"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/orgmembership": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Orgmemberships",
        "description": "List attached Orgmemberships.",
        "operationId": "listEventOrgmembership",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrgMembership"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/personal-access-token": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached PersonalAccessTokens",
        "description": "List attached PersonalAccessTokens.",
        "operationId": "listEventPersonalAccessToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PersonalAccessToken"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/subscriber": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Subscribers",
        "description": "List attached Subscribers.",
        "operationId": "listEventSubscriber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscriber"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/user": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Users",
        "description": "List attached Users.",
        "operationId": "listEventUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/events/{id}/webhook": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "List attached Webhooks",
        "description": "List attached Webhooks.",
        "operationId": "listEventWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Events list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/feature-histories": {
      "get": {
        "tags": [
          "FeatureHistory"
        ],
        "summary": "List FeatureHistories",
        "description": "List FeatureHistories.",
        "operationId": "listFeatureHistory",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result FeatureHistory list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeatureHistory"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "FeatureHistory"
        ],
        "summary": "Create a new FeatureHistory",
        "description": "Creates a new FeatureHistory and persists it to storage.",
        "operationId": "createFeatureHistory",
        "requestBody": {
          "description": "FeatureHistory to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "history_time": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ref": {
                    "type": "string"
                  },
                  "operation": {
                    "type": "string",
                    "enum": [
                      "INSERT",
                      "UPDATE",
                      "DELETE"
                    ]
                  },
                  "name": {
                    "type": "string"
                  },
                  "global": {
                    "type": "boolean"
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "history_time",
                  "operation",
                  "name",
                  "global",
                  "enabled"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "FeatureHistory created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/feature-histories/{id}": {
      "get": {
        "tags": [
          "FeatureHistory"
        ],
        "summary": "Find a FeatureHistory by ID",
        "description": "Finds the FeatureHistory with the requested ID and returns it.",
        "operationId": "readFeatureHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the FeatureHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FeatureHistory with requested ID was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "FeatureHistory"
        ],
        "summary": "Deletes a FeatureHistory by ID",
        "description": "Deletes the FeatureHistory with the requested ID.",
        "operationId": "deleteFeatureHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the FeatureHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "FeatureHistory with requested ID was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "FeatureHistory"
        ],
        "summary": "Updates a FeatureHistory",
        "description": "Updates a FeatureHistory and persists changes to storage.",
        "operationId": "updateFeatureHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the FeatureHistory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "FeatureHistory properties to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "global": {
                    "type": "boolean"
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "FeatureHistory updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/features": {
      "get": {
        "tags": [
          "Feature"
        ],
        "summary": "List Features",
        "description": "List Features.",
        "operationId": "listFeature",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "what page to render",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "item count to render per page",
            "schema": {
              "type": "integer",
              "maximum": 255,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result Feature list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feature"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Feature"
        ],
        "summary": "Create a new Feature",
        "description": "Creates a new Feature and persists it to storage.",
        "operationId": "createFeature",
        "requestBody": {
          "description": "Feature to create",
[...]
